<template>
  <q-page class="q-pa-md">
    <header>
      <h4 class="text-h4">Wellcom back!</h4>
      <h6 class="text-caption">Sign in to access your account.</h6>
      <h6 class="text-caption">Not registered? <span>Create an account</span></h6>

      <q-tabs
        dense
        narrow-indicator
        indicator-color="secondary"
        align="justify"
        :breakpoint="0"
        active-bg-color="secondary"
        active-color="white"
        class="q-mt-md"
        v-model="tab[0]">
        <q-tab
          no-caps
          name="Email"
          label="Email"
          class="text-secondary"
          @click="component = 0" />
        <q-tab
          no-caps
          name="Phone"
          label="Phone"
          class="text-secondary"
          @click="component = 1" />
      </q-tabs>
    </header>

    <main>
      <component
        :is="components[component]"
        v-model:component="component"
        v-model:userDetail="userDetail"></component>

    </main>

    <footer v-if="component !== 2">
      <div class="flex items-center justify-between no-wrap">
        <q-separator />
        <span class="q-px-xs text-overline">OR</span>
        <q-separator />
      </div>

      <q-btn
        color="negative"
        label="Sing up with google"
        class="full-width button-border-radius button-font-weight"
        size="14px"
        padding="12px 32px"
        align="center"
        no-caps
        outline>
        <q-icon
          name="mail"
          class="self-end" />
      </q-btn>
    </footer>
  </q-page>
</template>

<script setup>
import { defineAsyncComponent, ref, shallowRef } from 'vue';

const component = ref(1)
const components = shallowRef({
  0: defineAsyncComponent(() => import('./EmailLogin.vue')),
  1: defineAsyncComponent(() => import('./PhoneLogin.vue'))
})
const userDetail = ref({
  phone_number: null,
  otp_token: null
})

const tab = ref(['Phone', 'Email']);
</script>

<style lang="scss" scoped>
header {
  h4{
    font-size: 2rem;
    margin: 20px 0;
  }

  h6{
    margin:0;

    span {
      color: $link;
    }
  }

  :deep(.q-tab__label) {
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 500;
  }

  :deep(.q-tabs__content) {
    border-radius: 5px;
    border: 2px solid $secondary;
  }

  :deep(.q-tab) {
    margin: 5px;
    border-radius: 5px;
  }
}

footer {
  > div:nth-child(1) {
    body.screen--lg & {
      margin-bottom: 15px;
    }

    :deep(.q-separator) {
      overflow: hidden;
      width: 100%;
      flex-shrink: 1;
      background-color: $grey-100;
    }

    span {
      color: $grey-300;
      letter-spacing: 0;
    }
  }

  :deep(.q-icon) {
    order: -1;
  }

  :deep(.q-btn__content) span {
    flex: 1;
  }
}
</style>
