<template>
  <main>
    <q-form
      class="q-mt-md"
      @submit.prevent="">

      <div>
        <h6
          class="text-caption"
          style="margin: 0;">Phone</h6>
        <q-input
          dense
          outlined
          bottom-slots
          no-error-icon
          lazy-rules
          placeholder="Your phone number"
          :rules="ruleNumber"
          :error-message="statusCode"
          :error="!!statusCode"
          mask="### ### ####"
          unmasked-value
          v-model="phone">
          <template v-slot:prepend>
            <q-icon
              name="phone_iphone"
              color="grey" />
          </template>
        </q-input>
      </div>

      <div>
        <h6
          class="text-caption"
          style="margin: 0;">Password</h6>
        <q-input
          dense
          outlined
          bottom-slots
          no-error-icon
          lazy-rules
          placeholder="Your password"
          :type="isPwd ? 'password' : 'text'"
          v-model="password">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd" />
          </template>
        </q-input>

      </div>
      <q-btn
        type="submit"
        color="secondary"
        label="Continue to sign up"
        class="full-width button-font-weight"
        padding="12px 32px"
        align="center"
        no-caps />

      <q-btn
        type="submit"
        flat
        no-caps
        class="text-subtitle1 full-width">Login with OTP</q-btn>
    </q-form>
  </main>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios'

const password = ref('')
const isPwd = ref(true)

const phone = ref('')
const ruleNumber = ref([
  val => (!val == '' && val.length >= 10) || 'The phone number has 10 characters',
])
const statusCode = ref(null)
const phoneLogin = () => {
  axios.post('http://tnc2.netall.live/OTP/SMS/SendToken', {
    phone_number: phone.value,
    otp_type: 'login'
  }).then(res => {
    console.log(res.data);
  })
    .catch(err => {
      statusCode.value = err.response.data.detail
      console.log({...err});
    })
}
</script>

<style lang="scss" scoped>
main {
  :deep(.q-input) {
    width: 100%
  }

  :deep(.q-field__marginal) {
    height: 48px;
  }

  :deep(.q-field__control) {
    height: 48px;
  }

  :deep(.q-field__prepend) {
    order: 1;
  }

  :deep(.q-field__bottom) {
    padding-left: 0;
    padding-top: 5px;
  }

  :deep(.q-field__append) {
    margin-right: 6px;
  }

  :deep(.q-icon) {
    margin-right: 0;
  }

  :deep(.q-btn) {
    margin: 10px 0 0 0;
    color: $link;
    text-align: center;
  }
}
</style>

