<template>
  <main>
    <div class="q-mb-lg">
      <h5 class="text-h5 text-secondary">Welcome to Tnc3</h5>
      <h6 class="text-caption">Enter the information to complete the profile</h6>
      <div class="row justify-between">
        <div v-for="tab in tabs" :key="tab" class="col-4">
          <h6 class="text-caption">{{tab}}</h6>
          <div></div>
        </div>
      </div>
    </div>

    <q-form @submit.prevent="submitForm" class="q-gutter-y-xs q-mt-md">
      <div>
        <h6 class="text-caption">Company name <span>(Required)</span></h6>
        <q-input autofocus outlined dense no-error-icon="" v-model="models.name" :rules="rulesName" />
      </div>

      <div>
        <h6 class="text-caption">Field of activity <span>(Required)</span></h6>
        <q-select outlined dense no-error-icon label="-Select Field of activity" :options="['IT']"
          v-model="models.activity" :rules="[val => !!val || '* Required']" />
      </div>

      <div>
        <h6 class="text-caption">Country <span>(Required)</span></h6>
        <q-select outlined dense no-error-icon label="-Select Country" v-model="models.country" :options="['US','IR']"
          :rules="[val => !!val || '* Required']" />
      </div>

      <div>
        <h6 class="text-caption">State <span>(Required)</span></h6>
        <q-select outlined dense no-error-icon label="-Select State" v-model="models.state"
          :options="['Texas','Tehran']" :rules="[val => !!val || '* Required']" />
      </div>

      <q-btn type="submit" label="Complete account" class="full-width button-font-weight q-mt-lg" padding="12px 32px"
        align="center" no-caps />
    </q-form>
  </main>
</template>

<script setup>
import axios from 'axios';
import { reactive, ref } from 'vue';

const tabs = ref(['sign up', 'verify account', 'complete info'])
const props = defineProps({
  component: {
    type: Number,
    defualt: 2
  },
  companyDetail: {
    type: Object,
    defualt: () => { }
  }
})
const emit = defineEmits(["update:component", "update:companyDetail"])

// SUBMIT COMPANY INFO
const models = reactive({
  name: '',
  activity: '',
  country: '',
  state: '',
})
const rulesName = ref([
  val => (val && val.length > 0) || 'Please type something',
  val => (val.length > 3) || 'Please more than 3 character'
])
const statusCode = ref('')
const submitForm = () => {
  axios.post('http://tnc2.netall.live/Register/CompanyAccount', {
    email: props.companyDetail.email_address,
    company_name: models.name,
    field_of_activity: models.activity,
    country: models.country,
    state: models.state,
    company_website: "www.example.com",
    legal_business_name: "Dell's Corporation",
    financial_institution_number: '12345',
  })
    .then(res => {
      emit("update:companyDetail", {
        ...props.companyDetail,
        company_name: models.name,
        field_of_activity: models.activity,
        country: models.country,
        state: models.state
      })
      emit("update:component", 3)
      console.log(res.data);
    })
    .catch(err => {
      statusCode.value = err.response.data.msg
      console.log(err.response);
    })
}
</script>

<style lang="scss" scoped>
main {
  > :nth-child(1) {
    text-align: center;

    h5,
    h6 {
      margin: 0;
    }

    > :nth-child(3) {
      margin-top: 10px;

      :deep(.col-4) {
        width: 31%;
      }

      div {
        h6 {
          color: $success-300;
        }

        > :nth-child(2) {
          width: 100%;
          border: 2px solid $success-200;
        }
      }

      :last-child {
        h6 {
          color: $grey-200;
        }

        > :nth-child(2) {
          border-color: $grey-200;
        }
      }

    }
  }

  > :nth-child(2) {
    span {
      color: $grey-200;
    }

    :deep(.q-field__control) {
      height: 48px;
    }

    :deep(.q-field__marginal) {
      height: 48px;
    }

    :deep(.q-btn) {
      background-color: $primary-100;
      color: $grey-300;
    }
  }

  :deep(.q-field__bottom) {
    padding: 5px 0 0 0;
  }
}
</style>
