<template>
  <q-page class="q-pa-md">
    <header
      class="q-mb-lg"
      v-if="component === 0 || component === 3">
      <h5 class="text-h5">Sign up for an account</h5>
      <h6 class="text-subtitle2">
        Already have an accout?
        <router-link to="#">Sign in</router-link>
      </h6>

      <q-tabs
        dense
        narrow-indicator
        indicator-color="secondary"
        align="justify"
        :breakpoint="0"
        active-bg-color="secondary"
        active-color="white"
        v-model="tab[0]">
        <q-tab
          no-caps
          name="Email"
          label="Email"
          class="text-secondary"
          @click="emailTab" />
        <q-tab
          no-caps
          name="Phone"
          label="Phone"
          class="text-secondary"
          @click="phoneTab" />
      </q-tabs>
    </header>

    <component
      :is="components[component]"
      v-model:component="component"
      v-model:user-detail="userDetail"></component>

    <footer
      class="q-mt-md"
      v-if="component !== 2">
      <div class="flex items-center justify-between no-wrap">
        <q-separator />
        <span class="q-px-xs text-overline">OR</span>
        <q-separator />
      </div>

      <q-btn
        color="negative"
        label="Sing up with google"
        class="full-width button-border-radius button-font-weight"
        size="14px"
        padding="12px 32px"
        align="center"
        no-caps
        outline>
        <q-icon
          name="mail"
          class="self-end" />
      </q-btn>

      <div>
        <h6 class="text-subtitle2">
          By creating an account, you agree to our
          <router-link to="#"> Privacy Policy </router-link>
          and
          <span>Electronic communication Policies</span>.
        </h6>
      </div>
    </footer>
  </q-page>
</template>

<script setup>
import { ref, defineAsyncComponent, shallowRef } from "vue";

// STEP BY STEP COMPONENTS
const component = ref(0);
const components = shallowRef({
  0: defineAsyncComponent(() => import("./WithPhone.vue")),
  1: defineAsyncComponent(() => import("./OtpToken.vue")),
  2: defineAsyncComponent(() => import("./SuccessPage.vue")),
  3: defineAsyncComponent(() => import('./WithEmail.vue'))
});
const userDetail = ref({
  phone_number: null,
  email_address: null,
  otp_token: null,
});

const tab = ref(['Phone', 'Email']);

const phoneTab = () => {
  component.value = 0
}
const emailTab = () => {
  component.value = 3
}
</script>

<style lang="scss" scoped>
header {
  :deep(.router-link-active) {
    color: $link;
  }

  h5 {
    margin: 0 0 25px 0;
    text-align: left;

    body.screen--lg & {
      font-size: 2rem;
      margin: 0 0 30px 0;
    }
  }

  h6 {
    margin: 0 0 20px 0;
  }

  :deep(.q-tab__label) {
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 500;
  }

  :deep(.q-tabs__content) {
    border-radius: 5px;
    border: 2px solid $secondary;
  }

  :deep(.q-tab) {
    margin: 5px;
    border-radius: 5px;
  }
}

footer {
  > div:nth-child(1) {
    body.screen--lg & {
      margin-bottom: 15px;
    }

    :deep(.q-separator) {
      overflow: hidden;
      width: 100%;
      flex-shrink: 1;
      background-color: $grey-100;
    }

    span {
      color: $grey-300;
      letter-spacing: 0;
    }
  }

  :deep(.q-icon) {
    order: -1;
  }

  :deep(.q-btn__content) span {
    flex: 1;
  }

  > div:nth-child(3) {
    h6 {
      line-height: 20px;
      margin-top: 1.5rem;
      color: $grey-300;

      :deep(.router-link-active) {
        color: $link;
        text-decoration: none;
      }

      span {
        color: $grey-400;
      }
    }
  }
}
</style>

